*{
    background-color: hsl(0, 0%, 60%);
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 15%);
    background: transparent;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(225deg, hsl(0, 0%, 30%), hsl(0, 0%, 70%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 15%);
}

#site_header{
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    font-size: 3.2em;
}

#notices_count{
    font-size: 30px;
    margin-top: 50px;
}

.navigator{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    background: transparent;
}

.navigator button{
    margin: 20px;
    text-align: center;
    padding: 7px 20px;
    display: flex;
    vertical-align: middle;
    font-size: large;
    border-style: none;
    border-radius: 15px;
    transition: 0.1s ease;
    background-color: hsl(0, 0%, 80%);
    cursor: pointer;
}

.navigator button:hover{
    /* transform: scale(1.1); */
    color: white;
    outline: 2px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 70%);
    outline-style:double;
    /* box-shadow: 1px 1px hsl(0, 0%, 80%); */
}

#notices_count{
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}

.notice_list{
    justify-content: center;
    display: flex;
    max-height: 615px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0;
    scrollbar-width:thin;

}

.notice_list table{
    height: 500px;
    cursor: pointer;
    line-height: 30px;
    border-collapse: collapse;
}

.notice_list table thead tr th{
    background-color:hsl(0, 0%, 40%);
    cursor: default;
    color: white;
    font-size: 1.2em;
}

.notice_list table thead tr th:first-child{
    border-radius: 5px 0 0 5px;
}

.notice_list table thead tr th:last-child{
    border-radius: 0 5px 5px 0;
}

td{
    font-size: 1.1em;
}

th, td{
    padding: 8px;
}

tr:hover td{
    background-color: hsl(0, 0%, 40%);
    color: white;
}

tr:hover td:first-child{
    /* border-radius: 10px 0 0 50px; */
    border-radius: 5px 0px 0px 5px;
}

tr:hover td:last-child{
    /* border-radius: 0 50px 5px 0; */
    border-radius: 0px 5px 5px 0px;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 15px;
}

#name_column{
    max-width: 250px;
}

#forename_column{
    max-width: 250px;
}

.notice_detail_values_all{
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.detail_value{
    line-height: 2;
}

.img_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    /* margin-top: 25px; */
}

.img_wrapper img {
    max-width: 200px; 
    height: 200px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    position: relative; 
}

.modal.show{
    display: flex !important;
}

.details_card{
    border: solid 2px;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 40px;
    /* background-color: hsl(0, 0%, 70%); */
    background: linear-gradient(135deg, hsl(0, 0%, 40%), hsl(0, 0%, 70%));
}

.detail_label{
    font-size: 1.1em;
    display: block;
    margin-bottom: 0.3em;
    margin-top: .3em;
}

h3,h5{
    line-height: 1.5 !important;
}

h1, h3{
    color: white;
}

h3{
    margin-top: 0px;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.sections{
    margin-bottom: 30px;
}

#arrest_warrants .details_card{
    padding-left: 1em;
    padding-bottom: 0em;
    padding-top: 1em;
}