services:
  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq_project
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_DEFAULT_VHOST}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    ports:
      - "${PGADMIN_PORT}:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    depends_on:
      - postgres
    networks:
      - backend

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    env_file: .env
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - backend

  producer:
    build:
      context: .
      dockerfile: Producer/.dockerfile
    env_file: .env
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_started
      postgres:
        condition: service_started
    networks:
      - backend


  organizer:
    build:
      context: .
      dockerfile: Organizer/.dockerfile
    env_file: .env
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_started
      postgres:
        condition: service_started
    networks:
      - backend

  webapp:
    build:
      context: .
      dockerfile: Webapp/.dockerfile
    env_file: .env
    restart: on-failure
    ports:
      - "5000:5000"
    depends_on:
      - postgres
      - minio
    networks:
      - backend

volumes:
  postgres_data:
  minio_data:
  rabbitmq_data:

networks:
  backend:
    driver: bridge